.section-for-presentation {
    height: 90vh;
    width: 100%;
    position: relative;
    overflow: hidden;

    .presentation__title {
        width: 100%;
        padding: 50px 10px 0px 10px;
        display: flex;
        overflow-wrap:break-word;
        color: white;
        flex-direction: column;
        
        h2 {
            font-size: 95px;
            position: relative;
            z-index: 1;
            line-height: 80px;
        }

    }   
      
    .box-for-presentation-image {
        height: 300px;
        width: 500px;
        object-fit: cover;
        background-image: url(/assets/img/23782659-65da-4585-8933-99357177f099.jpg);
        background-position: center;
        background-size: cover;
        position: absolute;
        left: 40%;
        top: 20%;
    }    
}

.section-for-info {
    width: 100%;
    height: 130vh;
    padding: 100px 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    overflow: hidden;
    color: rgb(238, 234, 234);
    text-align: right;


    .info-title-container {
        font-size: 25px;
        h3 {
            font-weight: 800;
        }
    }
    .info-second-title-container {
        width: 100%;
        font-size: 30px;
        margin-top: 15px;
        text-align: left;
    }
    .info-watch-more {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: right;
        margin-top: 80px;
        color: #b8b983;
        overflow-wrap:break-word;
        font-size: 65px;
        padding: 5px;
        h6 {
            font-size: 20px;
            margin-bottom: 10px;
            color: white;
        }
        h4 {
            line-height: 60px;
        } 
    }   
}

.section-for-work {
    height: 100vh;
    width: 100%;
    padding: 100px 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    
    h4 {
        color: rgb(238, 234, 234);
        font-size: 50px;
        width: 100%;
        border-bottom: 1px solid rgb(238, 234, 234);
        
    }
}



.section-for-about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    padding: 10px;
    h3 {
        color: white;
        font-size: 50px;
        width: 100%;
        border-bottom: 1px solid white;
        text-align: right;
        margin-bottom: 20px;
    }
    img {
        height: 250px;
        width: 250px;
        object-fit: contain;
    }
    p {
        margin-top: 15px;
        font-size: 20px;
        color: white;
    }
    
}

.section-for-contact {
    width: 100%;
    padding: 10px;
    height: auto;
    overflow-wrap:break-word;
    color: white;
    h4 {
        font-size: 60px;
        margin-bottom: 15px;
    }
    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
            background-color: transparent;
            border: none;
            border-bottom: solid 1px white;
            margin: 10px;
            padding: 5px;
            width: 80%;
            color: white;
            font-size: 20px;
            &:focus {
                outline: none;
                border-bottom: solid 3px white;
            }
            &::placeholder{
                color:rgba(241, 241, 241, 0.555);
            }
        }
        textarea {
            background-color: transparent;
            border: none;
            border-bottom: solid 1px white;
            margin: 10px;
            padding: 5px;
            width: 80%;
            color: white;
            font-size: 20px;
            resize: none;
            &:focus {
                outline: none;
                border-bottom: solid 3px white;
            }
            &::placeholder{
                color:rgba(241, 241, 241, 0.555);
            }
        }
        button {
            background-color: white;
            padding: 5px 20px;
            margin: 10px;
            font-size: 20px;
            border: solid white 1px;
            color: #201718;
        }
    }
    h5 {
        font-size: 40px;
        margin-top: 15px;
    }
}