@font-face {
    font-family: "Neue";
    src: url(/assets/font/NeueMontreal-Regular.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Neue";
    font-weight: 300;
}
body {
    background-image: url(/assets/img/fondo.jpg);
    background-position: 300px;
}


@import "header";
@import "index";