@font-face {
    font-family: "Neue";
    src: url(/assets/font/NeueMontreal-Regular.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Neue";
    font-weight: 300;
}
body {
    background-image: url(/assets/img/fondo5.jpg);
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
}


@import "header";
@import "index";