.hamburguer-menu-container {
    width: 100%;
    position: absolute;
    top: 0;
    background-color: white;
    display: flex;
    padding: 20px;
    height: 100vh;
    flex-direction: column;

    .close-menu-icon {
        align-self: flex-end;
        font-size: 25px;
    }
    
    .hamburguer-menu-categories {
        width: 100%;
        height: 200px;
        margin-top: 15px;
        
        li {
            list-style: none;
            padding: 10px;
            border-bottom: 1px solid rgb(212, 212, 212);
            text-align: right;
        }
        a {
            text-decoration: none;
            color: black;
        }
    }
}