
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .main-banner {
        width: 100%;
        z-index: -3;
        height: 80vh;
        top: 0;
        position: relative;
        background-color: #7a0524;
        img {
            height: 100%;
            object-fit: cover;    
            object-position: center;
            width: 100%; 
            }
        .main-banner-text-container {
            position: absolute;
            top: 50%;
            margin: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .main-banner-text {
            text-align: center;
            color: white;
            font-weight: 100;
            font-size: 15px;
        }
        .main-banner-button {
            color: white;
            border: none;
            text-align: center;
            padding: 10px 20px;
            margin-top: 20px;
            font-size: 17px;
            border-radius: 20px;
            background-color: #7a0524;
        }
    }

    .main-sections-container {
        width: 100%;
        padding: 0 15px;
        height: 60vh;
        position: relative;
        top: -20px;
        z-index: -2;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 30px;

        .gram-sections {
            width: 100%;
            border-radius: 5px;
            border: 2px solid white;
            height: 45%;
            display: flex;
            background-size: cover;
            h2 {
                margin: 15px;
                color: white;
                font-weight: 500;
                font-size: 22px;
            }
        }

        .boulder-section {
           background-image: url(../../../public/portada.jpg);            
        }
        .alpinist-section {
            background-image: url(../../../public/gram\ monta.jpg);
        }

    }

    .main-section-for-info {
        padding: 15px;
        span {
            display: block;
            height: 2px;
            width: 35%;
            border-top: #7a0524 solid 3px;
        }
        h1 {
            font-weight: 500;
            margin: 10px 0;
        }
        button {
            color: white;
            border: none;
            text-align: center;
            padding: 10px 20px;
            margin-top: 20px;
            font-size: 17px;
            border-radius: 20px;
            background-color: #7a0524;
        }
    }

    .association-section {
        padding: 0 15px;
        padding-top: 20px;
        width: 100%;
        height: auto;
        border-radius: 15px;
        background-color: white;
        .association__collapse-title {
            margin: 20px 0px;
            h6 {
                padding: 5px;
                display: flex;
                justify-content: space-between;
                font-size: 18px;
                font-weight: 400;
                border-bottom:#7a0524 solid 1px;
            }
        }
        .association__collapse-section {
            margin: 10px 0;
            display: flex;
            flex-direction: column;
            a {
                background-color:#7a0524;
                color: white;
                text-decoration: none;
                align-self: center;
                padding: 10px;
                margin: 20px 0;
                text-align: center;
                border-radius: 8px;
            }

            .association__collapse-section-benefits-ul {
                list-style: none;
                li {
                    margin: 5px 0;
                    font-size: 15px;

                    span {
                        color: #00233f;
                        font-size: 12px;
                    }
                }
            }
            
        }
        .association__collapse-section-form {
            display: none;
        }
        .association__collapse-section-benefits {
            display: none;
        }
    }

    .main-events-container {
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h3 {
            font-size: 22px;
            font-weight: 500;
        }
        .events__one-event {
            width: 90%;
            height: 350px;
            margin: 10px 0;
            background-color: #dfdfdf;
        }
    
    }
}

    
        //     .events__one-event {
                
        //         @media (min-width: 600px) {
        //             width: 45%;
        //             height: 400px;
        //             max-width: 300px;
        //           }
        //         img {
        //             width: 100%;
        //             height: 150px;
        //             object-fit: cover;
        //         }
        //         h5 {
        //             text-align: center;
        //             font-weight: lighter;
        //             font-size: 18px;
        //             padding: 5px;
        //             border-bottom: #00233f solid 1px;
        //             margin: 10px;
        //         }
        //         .one-event__info {
        //             padding: 10px;
        //             display: flex; 
        //             flex-direction: column;
        //             p {
        //                 margin: 5px 0;
        //                 font-size: 13px;
        //             }
        //             span {
        //                 color: #7a0524;
        //                 font-weight: bolder;
        //             }
        //         }
        //         .one-event__buttons {
        //             display: flex;
        //             justify-content: space-around;
        //             button {
        //                 color: white;
        //                 background-color: #00233f;
        //                 padding: 10px;
        //                 border: none;
        //                 width: 35%;
        //                 border-radius: 5px;
        //             }
        //         }
        //     }
        // }
        
    
    
