* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: nunito;
}

@font-face {
  font-family: nunito;
  src: url(/src/assets/fonts/NunitoSans_7pt-ExtraLight.ttf);
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main .main-banner {
  width: 100%;
  z-index: -3;
  height: 80vh;
  top: 0;
  position: relative;
  background-color: #7a0524;
}
.main .main-banner img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}
.main .main-banner .main-banner-text-container {
  position: absolute;
  top: 50%;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .main-banner .main-banner-text {
  text-align: center;
  color: white;
  font-weight: 100;
  font-size: 15px;
}
.main .main-banner .main-banner-button {
  color: white;
  border: none;
  text-align: center;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 17px;
  border-radius: 20px;
  background-color: #7a0524;
}
.main .main-sections-container {
  width: 100%;
  padding: 0 15px;
  height: 60vh;
  position: relative;
  top: -20px;
  z-index: -2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 30px;
}
.main .main-sections-container .gram-sections {
  width: 100%;
  border-radius: 5px;
  border: 3px solid white;
  height: 45%;
  display: flex;
  background-size: cover;
}
.main .main-sections-container .gram-sections h2 {
  margin: 15px;
  color: white;
  font-weight: 500;
  font-size: 22px;
}
.main .main-sections-container .boulder-section {
  background-image: url(../../../public/portada.jpg);
}
.main .main-sections-container .alpinist-section {
  background-image: url(../../../public/gram\ monta.jpg);
}
.main .main-section-for-info {
  padding: 15px;
}
.main .main-section-for-info span {
  display: block;
  height: 2px;
  width: 35%;
  border-top: #7a0524 solid 3px;
}
.main .main-section-for-info h1 {
  font-weight: 500;
  margin: 10px 0;
}
.main .main-section-for-info button {
  color: white;
  border: none;
  text-align: center;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 17px;
  border-radius: 20px;
  background-color: #7a0524;
}
.main .association-section {
  padding: 0 15px;
  padding-top: 20px;
  width: 100%;
  height: auto;
  border-radius: 15px;
  background-color: white;
}
.main .association-section .association__collapse-title {
  margin: 20px 0px;
}
.main .association-section .association__collapse-title h6 {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 400;
  border-bottom: #7a0524 solid 1px;
}
.main .association-section .association__collapse-section {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}
.main .association-section .association__collapse-section a {
  background-color: #7a0524;
  color: white;
  text-decoration: none;
  align-self: center;
  padding: 10px;
  margin: 20px 0;
  text-align: center;
  border-radius: 8px;
}
.main .association-section .association__collapse-section .association__collapse-section-benefits-ul {
  list-style: none;
}
.main .association-section .association__collapse-section .association__collapse-section-benefits-ul li {
  margin: 5px 0;
  font-size: 15px;
}
.main .association-section .association__collapse-section .association__collapse-section-benefits-ul li span {
  color: #00233f;
  font-size: 12px;
}
.main .association-section .association__collapse-section-form {
  display: none;
}
.main .association-section .association__collapse-section-benefits {
  display: none;
}
.main .main-events-container {
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .main-events-container h3 {
  font-size: 22px;
  font-weight: 500;
}
.main .main-events-container .events__one-event {
  width: 100%;
  padding: 10px;
  height: 350px;
  margin: 10px 0;
  background-color: #dfdfdf;
}
.main .main-events-container .events__one-event img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .main-events-container .events__one-event h3 {
  text-align: center;
  font-size: 17px;
  border-bottom: #7a0524 solid 2px;
  margin-bottom: 10px;
}
.main .main-events-container .events__one-event p {
  font-size: 14px;
  margin-bottom: 5px;
}
.main .main-events-container .events__one-event p span {
  font-weight: bolder;
}
.main .main-events-container .events__one-event .one-event__buttons {
  display: flex;
  justify-content: space-around;
}
.main .main-events-container .events__one-event .one-event__buttons .one-event-button1 {
  color: white;
  border: none;
  text-align: center;
  padding: 7px 15px;
  font-size: 15px;
  border-radius: 20px;
  background-color: #7a0524;
}
.main .main-events-container .events__one-event .one-event__buttons .one-event-button2 {
  text-decoration: underline;
  font-size: 15px;
  border: none;
  background-color: transparent;
}

header {
  height: 90px;
  width: 100%;
  padding-top: 5px;
  background-color: white;
  position: fixed;
}
header nav {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
header nav .header__menu-collapse {
  width: 30%;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
}
header nav .header__menu-collapse .header-icon {
  font-size: 35px;
  color: rgb(0, 0, 0);
}
header nav .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  width: 30%;
}
header nav .logo-container img {
  height: 70px;
}
header nav ul {
  display: none;
}

.hamburguer-menu-container {
  width: 100%;
  position: absolute;
  top: 0;
  background-color: white;
  display: flex;
  padding: 20px;
  height: 100vh;
  flex-direction: column;
}
.hamburguer-menu-container .close-menu-icon {
  align-self: flex-end;
  font-size: 25px;
}
.hamburguer-menu-container .hamburguer-menu-categories {
  width: 100%;
  height: 200px;
  margin-top: 15px;
}
.hamburguer-menu-container .hamburguer-menu-categories li {
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid rgb(212, 212, 212);
  text-align: right;
}
.hamburguer-menu-container .hamburguer-menu-categories a {
  text-decoration: none;
  color: black;
}/*# sourceMappingURL=style.css.map */