* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nunito;
}

@font-face {
    font-family: nunito;
    src: url(./assets/fonts/NunitoSans_7pt-ExtraLight.ttf);
}
@font-face {
    font-family: inter;
    src: url(./assets/fonts/Inter-Light.ttf);
}




@import "./componentes/main/main";
@import "./componentes/Header/header"
