* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nunito;
}

@font-face {
    font-family: nunito;
    src: url(/src/assets/fonts/NunitoSans_7pt-ExtraLight.ttf);
}


@import "./componentes/main/main";
@import "./componentes/Header/header";
@import "./componentes/HambMenu/hambMenu"


